# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

node_modules/

test/merkle_tree_data.json
test/merkle_tree_data_real.json

lib/v4-core/
lib/v4-periphery/
src/Verifiers/*

src/huff/*

broadcast/*/11155111/