[profile.default]
src = "src"
out = "out"
libs = ["lib"]
optimizer = true
optimizer_runs = 200
# via_ir = true  

# Allow file writing for scripts; allow reading test-proofs for verifier tests
fs_permissions = [
    { access = "read-write", path = "./src" },
    { access = "read-write", path = "./test" },
    { access = "read", path = "./test/test-proofs" }
]